@{
    ViewData["Title"] = "Privacy";
}

<section class="page-section">
    <div class="page-card">
        <h1>Privacy</h1>
        <p>Ez egy minta oldal, később ide jöhet adatkezelési tájékoztató.</p>
    </div>
</section>